In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv("./files/survey_results_public.csv")

In [5]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [6]:
df["Country"]

0                   Germany
1            United Kingdom
2        Russian Federation
3                   Albania
4             United States
                ...
64456         United States
64457               Morocco
64458              Viet Nam
64459                Poland
64460                 Spain
Name: Country, Length: 64461, dtype: object

In [4]:
# sum data by groups
df["Age"].value_counts()

Age
25.0    2693
28.0    2412
30.0    2406
26.0    2391
27.0    2338
        ...
88.0       1
16.5       1
23.4       1
95.0       1
14.5       1
Name: count, Length: 110, dtype: int64

In [7]:
# the first respondent
df.loc[0]

Respondent                                                  1
MainBranch                     I am a developer by profession
Hobbyist                                                  Yes
Age                                                       NaN
Age1stCode                                                 13
                                       ...
WebframeWorkedWith                       ASP.NET;ASP.NET Core
WelcomeChange         Just as welcome now as I felt last year
WorkWeekHrs                                              50.0
YearsCode                                                  36
YearsCodePro                                               27
Name: 0, Length: 61, dtype: object

In [8]:
# country of the first respondent
df.loc[0, "Country"]

'Germany'

In [32]:
df.at[0, 'Country']

'Germany'

In [10]:
# country of three respondent
df.loc[[0, 5, 8], "Country"]

0    Germany
5    Germany
8    Tunisia
Name: Country, dtype: object

In [11]:
# country of the first three respondent
df.loc[0:2, "Country"]

0               Germany
1        United Kingdom
2    Russian Federation
Name: Country, dtype: object

In [15]:
# datas from Age, EdLevel, Country of the first three respondent
df.loc[0:20, ["Age", "EdLevel", "Country"]]

,Age,EdLevel,Country
0,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Germany
1,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",United Kingdom
2,NaN,NaN,Russian Federation
3,25.0,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Albania
4,31.0,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",United States
5,NaN,"Secondary school (e.g. American high school, G...",Germany
6,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",India
7,36.0,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",United States
8,30.0,"Professional degree (JD, MD, etc.)",Tunisia
9,22.0,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",United Kingdom
10,23.0,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",United Kingdom
11,49.0,Some college/university study without earning ...,Spain
12,53.0,"Secondary school (e.g. American high school, G...",Netherlands
13,27.0,"Associate degree (A.A., A.S., etc.)",United States
14,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",France
15,45.0,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",United Kingdom
16,25.0,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",United States
17,32.0,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",United States
18,24.0,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",United States
19,40.0,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Spain
20,23.0,"Secondary school (e.g. American high school, G...",Belgium

In [17]:
df.loc[0:20, "WorkWeekHrs":"YearsCodePro"]

    WorkWeekHrs YearsCode YearsCodePro
0          50.0        36           27
1           NaN         7            4
2           NaN         4          NaN
3          40.0         7            4
4           NaN        15            8
5           NaN         6            4
6           NaN         6            4
7          39.0        17           13
8          50.0         6            4
9          36.0         8            4
10         40.0        10            2
11         40.0         7            7
12         36.0        35           20
13         40.0         5            1
14          NaN         4          NaN
15         50.0        37           23
16         40.0         7            3
17         45.0        19           12
18         35.0         9            3
19         50.0        22           17
20          NaN         7          NaN

In [22]:
# 1. iloc[] - pozíció alapú indexelés (gyorsabb)
df.iloc[0:5, 2:6]  # sorok 0-4, oszlopok 2-5

  Hobbyist   Age Age1stCode CompFreq
0      Yes   NaN         13  Monthly
1       No   NaN         19      NaN
2      Yes   NaN         15      NaN
3      Yes  25.0         18      NaN
4      Yes  31.0         16      NaN

In [39]:
# 2. Boolean indexelés - feltételek alapján
df['YearsCodePro'] = pd.to_numeric(df['YearsCodePro'], errors='coerce')
df[df['YearsCodePro'] > 10]

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27.0
7,8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13.0
12,13,"I am not primarily a developer, but I write co...",Yes,53.0,14,Monthly,3000.0,38916.0,Netherlands,European Euro,...,Neither easy nor difficult,Too long,No,NaN,NaN,NaN,A lot less welcome now than last year,36.0,35,20.0
15,16,I am a developer by profession,Yes,45.0,8,Monthly,7000.0,108576.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,jQuery;React.js,Just as welcome now as I felt last year,50.0,37,23.0
17,18,I am a developer by profession,Yes,32.0,12,Monthly,105000.0,1260000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,19,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64376,51773,NaN,Yes,NaN,18,NaN,NaN,NaN,Bangladesh,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,18.0
64392,55074,NaN,Yes,36.0,35,NaN,NaN,NaN,Bangladesh,NaN,...,Easy,Appropriate in length,NaN,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,A lot less welcome now than last year,NaN,Less than 1 year,12.0
64407,57084,NaN,Yes,NaN,18,NaN,NaN,NaN,Sweden,NaN,...,NaN,NaN,NaN,"A social science (such as anthropology, psycho...",Django;jQuery,Django;jQuery,Just as welcome now as I felt last year,NaN,12,15.0
64415,58819,NaN,Yes,NaN,11,NaN,NaN,NaN,Myanmar,NaN,...,Easy,Too short,NaN,NaN,NaN,ASP.NET,NaN,NaN,5,29.0
64427,60149,NaN,Yes,34.0,18,NaN,NaN,NaN,Brazil,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Flask,Django,Just as welcome now as I felt last year,NaN,16,14.0

In [38]:
# 3. query() - SQL-szerű szintaxis
df.query('YearsCodePro > 5 and WebframeWorkedWith.str.contains("React", na=False)')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
15,16,I am a developer by profession,Yes,45.0,8,Monthly,7000.0,108576.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,jQuery;React.js,Just as welcome now as I felt last year,50.0,37,23.0
25,26,I am a developer by profession,No,NaN,12,Yearly,94000.0,71093.0,Canada,Canadian dollar,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",NaN,Django;React.js,Just as welcome now as I felt last year,40.0,17,10.0
32,33,I am a developer by profession,Yes,39.0,14,Monthly,4900.0,63564.0,Belgium,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Gatsby;React.js;Ruby on Rails,Angular;Angular.js;Django;Express;React.js,Just as welcome now as I felt last year,40.0,20,14.0
37,38,I am a developer by profession,No,35.0,14,Yearly,90000.0,97288.0,Italy,European Euro,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Gatsby;React.js,Express;Gatsby;React.js,Just as welcome now as I felt last year,40.0,20,12.0
41,42,I am a developer by profession,No,32.0,14,Yearly,130000.0,130000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Spring,ASP.NET;Flask;React.js;Spring,Somewhat less welcome now than last year,37.0,16,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64053,65523,I am a developer by profession,Yes,NaN,18,Monthly,450000.0,75396.0,India,Indian rupee,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",React.js,React.js,Just as welcome now as I felt last year,NaN,25,18.0
64096,65567,I am a developer by profession,Yes,NaN,12,NaN,NaN,NaN,United States,United States dollar,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;Express;Vue.js,ASP.NET;React.js;Vue.js,NaN,43.0,28,20.0
64152,65629,I am a developer by profession,Yes,41.0,15,Yearly,200.0,200.0,United States,United States dollar,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",React.js,React.js,Just as welcome now as I felt last year,NaN,25,20.0
64230,18748,NaN,Yes,NaN,30,NaN,NaN,NaN,Iran,NaN,...,Easy,Too short,Yes,Web development or web design,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,A lot less welcome now than last year,NaN,30,30.0
64392,55074,NaN,Yes,36.0,35,NaN,NaN,NaN,Bangladesh,NaN,...,Easy,Appropriate in length,NaN,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,A lot less welcome now than last year,NaN,Less than 1 year,12.0

In [40]:
# 5. get_group() - csoportosítás utáni adatelérés
country_groups = df.groupby('Country')
country_groups.get_group('United States')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8.0
7,8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13.0
13,14,I am a developer by profession,Yes,27.0,13,Yearly,66000.0,66000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Vue.js,Angular;Vue.js,Just as welcome now as I felt last year,40.0,5,1.0
16,17,I am a developer by profession,Yes,25.0,14,Yearly,79000.0,79000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,7,3.0
17,18,I am a developer by profession,Yes,32.0,12,Monthly,105000.0,1260000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,19,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64413,58498,NaN,Yes,32.0,23,NaN,NaN,NaN,United States,NaN,...,Neither easy nor difficult,Appropriate in length,No,Mathematics or statistics,ASP.NET;ASP.NET Core;Flask;Gatsby;jQuery;React...,ASP.NET;ASP.NET Core;Flask;Gatsby;jQuery;React...,NaN,NaN,8,NaN
64417,58896,NaN,Yes,29.0,10,NaN,NaN,NaN,United States,NaN,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,29,NaN
64428,60931,NaN,Yes,NaN,17,NaN,NaN,NaN,United States,NaN,...,Neither easy nor difficult,Too long,No,Web development or web design,NaN,Drupal,Not applicable - I did not use Stack Overflow ...,NaN,5,NaN
64443,63077,NaN,Yes,NaN,20,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,4,NaN
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,NaN