In [22]:
import pandas as pd

In [23]:
df = pd.read_csv("../files/survey_results_public.csv")

In [24]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [25]:
df["Country"]

0                   Germany
1            United Kingdom
2        Russian Federation
3                   Albania
4             United States
                ...
64456         United States
64457               Morocco
64458              Viet Nam
64459                Poland
64460                 Spain
Name: Country, Length: 64461, dtype: object

In [26]:
# sum data by groups
df["Age"].value_counts()

Age
25.0    2693
28.0    2412
30.0    2406
26.0    2391
27.0    2338
        ...
88.0       1
16.5       1
23.4       1
95.0       1
14.5       1
Name: count, Length: 110, dtype: int64

In [ ]:
# the first respondent, Label-based indexing
df.loc[0]

Respondent                                                  1
MainBranch                     I am a developer by profession
Hobbyist                                                  Yes
Age                                                       NaN
Age1stCode                                                 13
                                       ...
WebframeWorkedWith                       ASP.NET;ASP.NET Core
WelcomeChange         Just as welcome now as I felt last year
WorkWeekHrs                                              50.0
YearsCode                                                  36
YearsCodePro                                               27
Name: 0, Length: 61, dtype: object

In [ ]:
# country of the first respondent
df.loc[0, "Country"]

In [ ]:
df.at[0, 'Country']

In [ ]:
# country of three respondent
df.loc[[0, 5, 8], "Country"]

In [ ]:
# country of the first three respondent
df.loc[0:2, "Country"]

In [ ]:
# datas from Age, EdLevel, Country of the first three respondent
df.loc[0:20, ["Age", "EdLevel", "Country"]]

In [ ]:
df.loc[0:20, "WorkWeekHrs":"YearsCodePro"]

In [ ]:
# 1. iloc[] - Integer position-based indexing (faster)
df.iloc[0:5, 2:6]  # sorok 0-4, oszlopok 2-5

  Hobbyist   Age Age1stCode CompFreq
0      Yes   NaN         13  Monthly
1       No   NaN         19      NaN
2      Yes   NaN         15      NaN
3      Yes  25.0         18      NaN
4      Yes  31.0         16      NaN

In [ ]:
# 2. Boolean indexelés - feltételek alapján
df['YearsCodePro'] = pd.to_numeric(df['YearsCodePro'], errors='coerce')
df[df['YearsCodePro'] > 10]

In [ ]:
# 3. query() - SQL-szerű szintaxis
df.query('YearsCodePro > 5 and WebframeWorkedWith.str.contains("React", na=False)')

In [ ]:
# 5. get_group() - csoportosítás utáni adatelérés
country_groups = df.groupby('Country')
country_groups.get_group('United States')