In [64]:
import pandas as pd

In [65]:
employees = [
  {
    "id": 1,
    "first_name": "Jayne",
    "last_name": "Burchmore",
    "email": "jburchmore0@unicef.org",
    "gender": "Female",
    "yearly_salary": 78395,
    "years_of_experience": 23
  },
  {
    "id": 2,
    "first_name": "Anna",
    "last_name": "De Paoli",
    "email": "adepaoli1@t.co",
    "gender": "Female",
    "yearly_salary": 102972,
    "years_of_experience": 28
  },
  {
    "id": 3,
    "first_name": "Abbott",
    "last_name": "Itzchaki",
    "email": "aitzchaki2@bloglovin.com",
    "gender": "Male",
    "yearly_salary": 178876,
    "years_of_experience": 12
  },
]

In [66]:
df = pd.DataFrame(employees)
df

# Alapértelmezett index
# Pandas alapértelmezetten egy RangeIndex-et használ, ami egy 0-tól kezdődő egész szám sorozat:

# 0, 1, 2, 3, stb.
# Ez automatikusan létrejön, amikor DataFrame-et hozol létre
# Minden sorhoz egy sorszám rendelődik
# Nem egyedi indexek
# A komment ("index is not always unique") arra utal, hogy az index értékek nem feltétlenül egyediek:

# Pandas megengedi az ismétlődő indexértékeket - nem kényszeríti ki az egyediséget
# Amikor egy oszlopot indexként használsz (set_index), és abban ismétlődő értékek vannak, az index is ismétlődő lesz
# Akkor is ha két df-et kombinálsz az automatikus indexelés miatt ugyanazon idexek lesznek használva

,id,first_name,last_name,email,gender,yearly_salary,years_of_experience
0,1,Jayne,Burchmore,jburchmore0@unicef.org,Female,78395,23
1,2,Anna,De Paoli,adepaoli1@t.co,Female,102972,28
2,3,Abbott,Itzchaki,aitzchaki2@bloglovin.com,Male,178876,12

In [67]:
# index is not always unique
# Ha inplace=True:
  # Az eredeti DataFrame közvetlenül módosul
  # Nincs szükség az eredmény visszaadására
  # A függvény None értéket ad vissza
  # Memóriát takarít meg, mivel nem készít másolatot
  # A változások azonnal láthatóak az eredeti változóban
# Ha inplace=False (alapértelmezett):
  # Az eredeti DataFrame változatlan marad
  # Új DataFrame-et hoz létre és ad vissza
  # A változások megtartásához a visszatérési értéket egy változóba kell menteni
  # Átmenetileg több memóriát használ
df.set_index('email', inplace=True)

In [68]:
df.index

Index(['jburchmore0@unicef.org', 'adepaoli1@t.co', 'aitzchaki2@bloglovin.com'], dtype='object', name='email')

In [69]:
df.loc['jburchmore0@unicef.org']

id                             1
first_name                 Jayne
last_name              Burchmore
gender                    Female
yearly_salary              78395
years_of_experience           23
Name: jburchmore0@unicef.org, dtype: object

In [70]:
employees_dict = {
    "id": [1, 2, 3],
    "first_name": ["Jayne", "Anna", "Abbott"],
    "last_name": ["Burchmore", "De Paoli", "Itzchaki"],
    "email": ["jburchmore0@unicef.org", "adepaoli1@t.co", "aitzchaki2@bloglovin.com"],
    "gender": ["Female", "Female", "Male"],
    "yearly_salary": [78395, 102972, 178876],
    "years_of_experience": [23, 28, 12]
}

In [71]:
df2 = pd.DataFrame(employees_dict)
df2

,id,first_name,last_name,email,gender,yearly_salary,years_of_experience
0,1,Jayne,Burchmore,jburchmore0@unicef.org,Female,78395,23
1,2,Anna,De Paoli,adepaoli1@t.co,Female,102972,28
2,3,Abbott,Itzchaki,aitzchaki2@bloglovin.com,Male,178876,12

In [72]:
employees_list = [
    [1, "Jayne", "Burchmore", "jburchmore0@unicef.org", "Female", 78395, 23],
    [2, "Anna", "De Paoli", "adepaoli1@t.co", "Female", 102972, 28],
    [3, "Abbott", "Itzchaki", "aitzchaki2@bloglovin.com", "Male", 178876, 12]
]

columns = ["id", "first_name", "last_name", "email", "gender", "yearly_salary", "years_of_experience"]

In [73]:
df3 = pd.DataFrame(employees_list, columns=columns)
df3

,id,first_name,last_name,email,gender,yearly_salary,years_of_experience
0,1,Jayne,Burchmore,jburchmore0@unicef.org,Female,78395,23
1,2,Anna,De Paoli,adepaoli1@t.co,Female,102972,28
2,3,Abbott,Itzchaki,aitzchaki2@bloglovin.com,Male,178876,12

In [74]:
df4 = pd.read_csv("./files/survey_results_public.csv", index_col='Respondent')
df4.sort_index()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65634,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Philippines,NaN,NaN,...,NaN,NaN,NaN,NaN,React.js,React.js,NaN,NaN,NaN,NaN
65635,I am a developer by profession,Yes,NaN,15,NaN,NaN,NaN,Philippines,NaN,NaN,...,NaN,NaN,NaN,"Information systems, information technology, o...",NaN,NaN,NaN,NaN,6,Less than 1 year
65636,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Argentina,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65637,I am a student who is learning to code,Yes,NaN,NaN,NaN,NaN,NaN,Ethiopia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65639,I am a student who is learning to code,No,NaN,NaN,NaN,NaN,NaN,Georgia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
df4.sort_index()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65634,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Philippines,NaN,NaN,...,NaN,NaN,NaN,NaN,React.js,React.js,NaN,NaN,NaN,NaN
65635,I am a developer by profession,Yes,NaN,15,NaN,NaN,NaN,Philippines,NaN,NaN,...,NaN,NaN,NaN,"Information systems, information technology, o...",NaN,NaN,NaN,NaN,6,Less than 1 year
65636,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Argentina,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65637,I am a student who is learning to code,Yes,NaN,NaN,NaN,NaN,NaN,Ethiopia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65639,I am a student who is learning to code,No,NaN,NaN,NaN,NaN,NaN,Georgia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
df4.sort_index(ascending=False)

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
65639,I am a student who is learning to code,No,NaN,NaN,NaN,NaN,NaN,Georgia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65637,I am a student who is learning to code,Yes,NaN,NaN,NaN,NaN,NaN,Ethiopia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65636,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Argentina,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65635,I am a developer by profession,Yes,NaN,15,NaN,NaN,NaN,Philippines,NaN,NaN,...,NaN,NaN,NaN,"Information systems, information technology, o...",NaN,NaN,NaN,NaN,6,Less than 1 year
65634,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Philippines,NaN,NaN,...,NaN,NaN,NaN,NaN,React.js,React.js,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27

In [77]:
df.reset_index()  # új numerikus index jön létre

,email,id,first_name,last_name,gender,yearly_salary,years_of_experience
0,jburchmore0@unicef.org,1,Jayne,Burchmore,Female,78395,23
1,adepaoli1@t.co,2,Anna,De Paoli,Female,102972,28
2,aitzchaki2@bloglovin.com,3,Abbott,Itzchaki,Male,178876,12

In [78]:
# Többszintű index létrehozása
df3.set_index('email', inplace=True)
df_multi = df3.copy()
df_multi['domain'] = df_multi.index.str.split('@').str[1]
df_multi = df_multi.reset_index().set_index(['domain', 'id'])
df_multi

,,email,first_name,last_name,gender,yearly_salary,years_of_experience
domain,id,,,,,,
unicef.org,1,jburchmore0@unicef.org,Jayne,Burchmore,Female,78395,23
t.co,2,adepaoli1@t.co,Anna,De Paoli,Female,102972,28
bloglovin.com,3,aitzchaki2@bloglovin.com,Abbott,Itzchaki,Male,178876,12

In [79]:
# iloc: pozíció alapú indexelés (0-tól számolva)
df.iloc[0]

# loc: címke alapú indexelés (az index értékek alapján)
df.loc['jburchmore0@unicef.org']

# Több sor és oszlop kiválasztása
df.loc[['jburchmore0@unicef.org', 'adepaoli1@t.co'], ['first_name', 'gender']]

                       first_name  gender
email
jburchmore0@unicef.org      Jayne  Female
adepaoli1@t.co               Anna  Female