In [27]:
import pandas as pd

In [28]:
df_csv = pd.read_csv("./files/employees.csv")
df_csv

,id,first_name,last_name,email,gender,yearly_salary,years_of_experience
0,1,Jayne,Burchmore,jburchmore0@unicef.org,Female,78395,23
1,2,Anna,De Paoli,adepaoli1@t.co,Female,102972,28
2,3,Abbott,Itzchaki,aitzchaki2@bloglovin.com,Male,178876,12
3,4,Callean,Mayer,cmayer3@cyberchimps.com,Male,177153,13
4,5,Burl,Heikkinen,bheikkinen4@unesco.org,Male,140490,38
...,...,...,...,...,...,...,...
995,996,Cairistiona,Mullinger,cmullingerrn@yahoo.com,Female,144155,8
996,997,Esmaria,Lagde,elagdero@pen.io,Female,96353,15
997,998,Benni,Gilderoy,bgilderoyrp@ox.ac.uk,Female,185707,8
998,999,Phineas,Dunmuir,pdunmuirrq@elpais.com,Bigender,180372,2
999,1000,Starlene,Rittmeyer,srittmeyerrr@squarespace.com,Female,32228,11

In [29]:
df_json = pd.read_json("./files/employees.json")
df_json

,id,first_name,last_name,email,gender,yearly_salary,years_of_experience
0,1,Jayne,Burchmore,jburchmore0@unicef.org,Female,78395,23
1,2,Anna,De Paoli,adepaoli1@t.co,Female,102972,28
2,3,Abbott,Itzchaki,aitzchaki2@bloglovin.com,Male,178876,12
3,4,Callean,Mayer,cmayer3@cyberchimps.com,Male,177153,13
4,5,Burl,Heikkinen,bheikkinen4@unesco.org,Male,140490,38
...,...,...,...,...,...,...,...
995,996,Cairistiona,Mullinger,cmullingerrn@yahoo.com,Female,144155,8
996,997,Esmaria,Lagde,elagdero@pen.io,Female,96353,15
997,998,Benni,Gilderoy,bgilderoyrp@ox.ac.uk,Female,185707,8
998,999,Phineas,Dunmuir,pdunmuirrq@elpais.com,Bigender,180372,2
999,1000,Starlene,Rittmeyer,srittmeyerrr@squarespace.com,Female,32228,11

In [30]:
df_xml = pd.read_xml("./files/employees.xml")
df_xml

,id,first_name,last_name,email,gender,yearly_salary,years_of_experience
0,1,Jayne,Burchmore,jburchmore0@unicef.org,Female,78395,23
1,2,Anna,De Paoli,adepaoli1@t.co,Female,102972,28
2,3,Abbott,Itzchaki,aitzchaki2@bloglovin.com,Male,178876,12
3,4,Callean,Mayer,cmayer3@cyberchimps.com,Male,177153,13
4,5,Burl,Heikkinen,bheikkinen4@unesco.org,Male,140490,38
...,...,...,...,...,...,...,...
995,996,Cairistiona,Mullinger,cmullingerrn@yahoo.com,Female,144155,8
996,997,Esmaria,Lagde,elagdero@pen.io,Female,96353,15
997,998,Benni,Gilderoy,bgilderoyrp@ox.ac.uk,Female,185707,8
998,999,Phineas,Dunmuir,pdunmuirrq@elpais.com,Bigender,180372,2
999,1000,Starlene,Rittmeyer,srittmeyerrr@squarespace.com,Female,32228,11