In [3]:
import pandas as pd

In [4]:
people = {
    'first': ['John', 'Jane', 'Jeremayah'],
    'last': ['Doe', 'Doetoo', 'Macniel'],
    'email': ['johndoe@gmail.com', 'janedoetoo@gmail.com', 'jm@gmail.com']
}

In [5]:
# index, rows and columns
df = pd.DataFrame(people)

In [6]:
df

       first     last                 email
0       John      Doe     johndoe@gmail.com
1       Jane   Doetoo  janedoetoo@gmail.com
2  Jeremayah  Macniel          jm@gmail.com

In [7]:
# get by column name, use this primary
df['email']

0       johndoe@gmail.com
1    janedoetoo@gmail.com
2            jm@gmail.com
Name: email, dtype: object

In [8]:
# get by column name
df.email

0       johndoe@gmail.com
1    janedoetoo@gmail.com
2            jm@gmail.com
Name: email, dtype: object

In [9]:
# Series = list of data, one dimenzional array, rows of data, one column
type(df['email'])

pandas.core.series.Series

In [10]:
# DataFrame not Series
df[['last', 'email']]

      last                 email
0      Doe     johndoe@gmail.com
1   Doetoo  janedoetoo@gmail.com
2  Macniel          jm@gmail.com

In [11]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [12]:
# the first row
df.iloc[0]

first                 John
last                   Doe
email    johndoe@gmail.com
Name: 0, dtype: object

In [13]:
# series
type(df.iloc[0])

pandas.core.series.Series

In [14]:
# the first two rows
df.iloc[[0, 1]]

  first    last                 email
0  John     Doe     johndoe@gmail.com
1  Jane  Doetoo  janedoetoo@gmail.com

In [15]:
# the first two rows, only the 2 indexed column
df.iloc[[0, 1], 2]

0       johndoe@gmail.com
1    janedoetoo@gmail.com
Name: email, dtype: object

In [25]:
# iloc: index értéke
# loc: sor száma
df.loc[0]

first                 John
last                   Doe
email    johndoe@gmail.com
Name: 0, dtype: object

In [31]:
df_2 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [
                  7, 8, 9]}, index=['a', 'b', 'c'])

# Az 'a' index alapján indexelni
print(df_2.loc['a'])

# Az 0. sor alapján indexelni
print(df_2.iloc[0])

A    1
B    4
C    7
Name: a, dtype: int64
A    1
B    4
C    7
Name: a, dtype: int64

In [16]:
df.loc[[0, 1], 'email']

0       johndoe@gmail.com
1    janedoetoo@gmail.com
Name: email, dtype: object

In [17]:
df.loc[[0, 1], ['first', 'last']]

  first    last
0  John     Doe
1  Jane  Doetoo

In [18]:
df.columns

Index(['first', 'last', 'email'], dtype='object')