In [8]:
import pandas as pd

In [9]:
people = {
    'first': ['John', 'Jane', 'Jeremayah'],
    'last': ['Doe', 'Doetoo', 'Macniel'],
    'email': ['johndoe@gmail.com', 'janedoetoo@gmail.com', 'jm@gmail.com']
}

In [10]:
# index is not unique
df = pd.DataFrame(people)

In [11]:
# index is not always unique
df

       first     last                 email
0       John      Doe     johndoe@gmail.com
1       Jane   Doetoo  janedoetoo@gmail.com
2  Jeremayah  Macniel          jm@gmail.com

In [12]:
df['email']

0       johndoe@gmail.com
1    janedoetoo@gmail.com
2            jm@gmail.com
Name: email, dtype: object

In [13]:
df.set_index('email', inplace=True)

In [14]:
df.index

Index(['johndoe@gmail.com', 'janedoetoo@gmail.com', 'jm@gmail.com'], dtype='object', name='email')

In [15]:
df

                          first     last
email
johndoe@gmail.com          John      Doe
janedoetoo@gmail.com       Jane   Doetoo
jm@gmail.com          Jeremayah  Macniel

In [16]:
df.loc['johndoe@gmail.com']

first    John
last      Doe
Name: johndoe@gmail.com, dtype: object

In [17]:
# Error, integer index replaced
# df.loc[0]

In [18]:
# id you dont use inplace, a new dataframe will be created, inplace modofy the original DF 
df.reset_index(inplace=True)

In [19]:
df.loc[0]

email    johndoe@gmail.com
first                 John
last                   Doe
Name: 0, dtype: object

In [20]:
df_survey = pd.read_csv(
    'stackowerflow/survey_results_public.csv', index_col='Respondent')

In [21]:
df_schema = pd.read_csv(
    'stackowerflow/survey_results_schema.csv', index_col='Column')

In [22]:
df_schema

                                                         QuestionText
Column
Respondent          Randomized respondent ID number (not in order ...
MainBranch          Which of the following options best describes ...
Hobbyist                                      Do you code as a hobby?
Age                 What is your age (in years)? If you prefer not...
Age1stCode          At what age did you write your first line of c...
...                                                               ...
WebframeWorkedWith  Which web frameworks have you done extensive d...
WelcomeChange       Compared to last year, how welcome do you feel...
WorkWeekHrs         On average, how many hours per week do you wor...
YearsCode           Including any education, how many years have y...
YearsCodePro        NOT including education, how many years have y...

[61 rows x 1 columns]

In [23]:
df_schema.loc['Country', 'QuestionText']

'Where do you live?'

In [24]:
df_schema.sort_index()

                                                         QuestionText
Column
Age                 What is your age (in years)? If you prefer not...
Age1stCode          At what age did you write your first line of c...
CompFreq             Is that compensation weekly, monthly, or yearly?
CompTotal           What is your current total compensation (salar...
ConvertedComp       Salary converted to annual USD salaries using ...
...                                                               ...
WebframeWorkedWith  Which web frameworks have you done extensive d...
WelcomeChange       Compared to last year, how welcome do you feel...
WorkWeekHrs         On average, how many hours per week do you wor...
YearsCode           Including any education, how many years have y...
YearsCodePro        NOT including education, how many years have y...

[61 rows x 1 columns]

In [25]:
df_schema.sort_index(ascending=False)

                                                         QuestionText
Column
YearsCodePro        NOT including education, how many years have y...
YearsCode           Including any education, how many years have y...
WorkWeekHrs         On average, how many hours per week do you wor...
WelcomeChange       Compared to last year, how welcome do you feel...
WebframeWorkedWith  Which web frameworks have you done extensive d...
...                                                               ...
ConvertedComp       Salary converted to annual USD salaries using ...
CompTotal           What is your current total compensation (salar...
CompFreq             Is that compensation weekly, monthly, or yearly?
Age1stCode          At what age did you write your first line of c...
Age                 What is your age (in years)? If you prefer not...

[61 rows x 1 columns]

In [26]:
df_schema

                                                         QuestionText
Column
Respondent          Randomized respondent ID number (not in order ...
MainBranch          Which of the following options best describes ...
Hobbyist                                      Do you code as a hobby?
Age                 What is your age (in years)? If you prefer not...
Age1stCode          At what age did you write your first line of c...
...                                                               ...
WebframeWorkedWith  Which web frameworks have you done extensive d...
WelcomeChange       Compared to last year, how welcome do you feel...
WorkWeekHrs         On average, how many hours per week do you wor...
YearsCode           Including any education, how many years have y...
YearsCodePro        NOT including education, how many years have y...

[61 rows x 1 columns]