In [3]:
import pandas as pd

In [1]:
people = {
    'first': ['John', 'Jane', 'Jeremayah'],
    'last': ['Doe', 'Doe', 'Macniel'],
    'email': ['johndoe@gmail.com', 'janedoetoo@gmail.com', 'jm@gmail.com']
}

In [4]:
df = pd.DataFrame(people)

In [5]:
df

       first     last                 email
0       John      Doe     johndoe@gmail.com
1       Jane      Doe  janedoetoo@gmail.com
2  Jeremayah  Macniel          jm@gmail.com

In [6]:
filt = df['last'] == 'Doe'

In [7]:
filt

0     True
1     True
2    False
Name: last, dtype: bool

In [8]:
df[filt]

  first last                 email
0  John  Doe     johndoe@gmail.com
1  Jane  Doe  janedoetoo@gmail.com

In [9]:
df.loc[filt]

  first last                 email
0  John  Doe     johndoe@gmail.com
1  Jane  Doe  janedoetoo@gmail.com

In [10]:
df.loc[filt, 'email']

0       johndoe@gmail.com
1    janedoetoo@gmail.com
Name: email, dtype: object

In [11]:
filt2 = (df['first'] == 'John') & (df['last'] == 'Doe')

In [12]:
df.loc[filt2, 'email']

0    johndoe@gmail.com
Name: email, dtype: object

In [13]:
filt3 = (df['first'] == 'John') | (df['last'] == 'Doe')

In [14]:
df.loc[filt3, 'email']

0       johndoe@gmail.com
1    janedoetoo@gmail.com
Name: email, dtype: object

In [15]:
# negate filter
df.loc[~filt3, 'email']

2    jm@gmail.com
Name: email, dtype: object

In [ ]:
df_survey = pd.read_csv(
    'stackowerflow/survey_results_public.csv', index_col='Respondent')

In [ ]:
df_schema = pd.read_csv(
    'stackowerflow/survey_results_schema.csv', index_col='Column')

In [ ]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 100)

In [ ]:
df_survey

In [ ]:
filter_high_salary = df_survey['ConvertedComp'] > 70000

In [ ]:
df_survey.loc[filter_high_salary]

In [ ]:
df_survey.loc[filter_high_salary].sort_values(
    by='ConvertedComp', ascending=False)

In [ ]:
df_survey.loc[filter_high_salary].sort_values(
    by='ConvertedComp', ascending=False).head(10)

In [ ]:
df_survey.loc[filter_high_salary, ['Country', 'ConvertedComp']].sort_values(
    by='ConvertedComp', ascending=False).head(10)

In [ ]:
filter_hungary = df_survey['Country'] == 'Hungary'

In [ ]:
df_survey.loc[filter_hungary, ['Age', 'DevType', 'LanguageWorkedWith', 'ConvertedComp']].sort_values(
    by='ConvertedComp', ascending=False).head(30)

In [ ]:
filter_python = df_survey['LanguageWorkedWith'].str.contains('Python', na=False)

In [ ]:
df_survey.loc[filter_python, 'LanguageWorkedWith']